{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>My Blog Post</h1>
            <span class="subheading">Collection of my articles</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
      {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for user in all_users %}
        <div class="post-preview">
          <p>
            <a class="text-danger" href="{{url_for('delete_user', user_id = user.id) }}">✘</a>
            <a href="{{url_for('edit_user', user_id = user.id) }}">
              ID : {{user.id}} ; Role : {{user.role}} ; 
              Status : {{user.status}} ;
              Name : {{user.username}} ; 
              Password : {{user.password.ori_password}}
            </a>
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for comment in all_comments %}
        <div class="post-preview">
          <a class="text-danger" href="{{url_for('delete_comment', comment_id = comment.id) }}">✘</a>
          <p>{{ comment.id }} - {{ comment.text }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <p class="post-meta"> 
          <p>ID : {{ post.id }} - Status : {{ post.status }}</p>
          Posted by
          <a href="#">{{ post.author.username }}</a> on
          <a href="#">{{ post.date }}</a>
          <a href="{{url_for('delete_post', post_id = post.id) }}">✘</a>
        </p>
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id = post.id) }}">
            <h2 class="post-title">{{ post.title }}</h2>
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
          </a>
        </div>
        <hr>
        {% endfor %}

        <!-- New Post -->
        <div class="clearfix">
          {% if user.is_authenticated and user.role == "user" %}
          <a class="btn btn-primary float-right" href="{{url_for('add_post')}}">Create New Post</a>
          {% endif %}
        </div>
        
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}